<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="/vendor/bootswatch/flatly/bootstrap.min.css")
    body
        block content
        block js
            script(src="/vendor/jquery/dist/jquery.min.js")
            script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
            script(src="/vendor/knockout/dist/knockout.js")